@{
  Layout = "_Layout";
}
<div class="container">
  @await Html.PartialAsync("_Navbar")
  @model Gruyere.Models.Treat
  <h1 class="display-4">@Model.Name</h1>

  @if(@Model.JoinEntities.Count == 0)
  {
    <p>This treat does not have any flavors recorded.</p>
    @if(ViewBag.Flavors.Count == 0)
    {
    @Html.ActionLink("Start by adding a flavor", "Create", "Flavor", null, new { @class = "btn btn-success"})
    }
    else
    {
    @Html.ActionLink("Add an existing flavor", "Edit", "Treat", new { @id = Model.TreatId}, new { @class = "btn btn-primary"})
    }
  }
  else
  {
  <dl class="row">
    <dt class="col-sm-3">This treat contains the following flavor(s):</dt>
    <dd class="col-sm-9"></dd>
    @foreach(var join in Model.JoinEntities)
    {
      <dt class="col-sm-3"></dt>
      <dd class="col-sm-9">@Html.ActionLink(join.Flavor.Name, "Details", "Flavor", new { @id = join.TreatId}, new { @class = "text-primary"}) | @Html.ActionLink("Delete flavor", "RemoveFlavor", "Flavor", new { @id = join.FlavorTreatId}, new { @class = "text-danger"})</dd>
    }
  </dl>
  @Html.ActionLink("Add a flavor", "Edit", "Treat", new { @id = Model.TreatId}, new { @class = "btn btn-success"})
  @Html.ActionLink("Edit", "Edit", "Treat", new { @id = Model.TreatId}, new { @class = "btn btn-warning"})
  @Html.ActionLink("Delete", "Delete", "Treat", new { @id = Model.TreatId}, new { @class = "btn btn-danger"})
  }
  @await Html.PartialAsync("_Footer")
</div> 